#red{
color: red;
height: 200px;
width: 200px;
}
#blue{
    color: blue;
    height: 200px;
    width: 200px;
}
#orange{
    color: orange;
    height: 200px;
    width: 200px;
}
#green{
    color: green;
    height: 200px;
    width: 200px;
}
#yellow{
    color: yellow;
    height: 200px;
    width: 200px;
}
